:root {
    --cor-primaria: rgb(9, 167, 167);
    --cor-secundaria: rgb(153, 43, 153); 
    --cor-auxiliar: purple;   
    --cor-branca: #fff;
    --cor-fundo-escuro: #040203;    
    --cor-fundo-cinza-escuro: #1f1d1d;
    --cor-fundo-cinza-claro: #353535;  
  }

:root {
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Raleway', sans-serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
:root {
    --mobile-padding: 20px;
  }

:root{
    --max-width-size: 1920px;
}